<footer>
  <div class="foot--top">
    <div class="foot-section">
      <img src="{{url_for('static', filename='app-icon.png')}}" width='48' height='48'>
      <div class="logo-text">crud app - 2020</div>
    </div>
    <div class="foot-section">
      <div class="foot-section--title">Sobre nós:</div>
      <div class="foot-section--content">
        <p>Segundo um mando real de 1570, a Lei das Ordenanças, nas zonas rurais ao invés da Companhia de Ordenanças, se organizava uma Bandeira: tinha formação similar à de uma companhia, sendo que seus componentes eram divididos em esquadras, reunindo todos os que estavam até a uma légua da sede do capitão-mor. Foi essa a origem das bandeiras que exploraram e devassaram o território brasileiro. De início, também era uma forma de proteção contra os ataques indígenas, já que haviam destruído uma expedição de Alexandre L. Rangel em Cananeia e a de Juan Díaz de Solís no Rio da Prata.</p>
        <p>No início da colonização, os interesses de Portugal se concentravam no litoral ou próximo dele, uma vez que nele estavam localizados o extrativismo do pau-brasil e o plantio da cana-de-açúcar. O fator geográfico, portanto, foi um dos que mais desmotivaram a penetração dos colonizadores: a Serra do Mar, que era uma “grande muralha”, recoberta por densas matas, dificultava a penetração.</p>
      </div>
    </div>
    <div class="foot-section">
      <div class="foot-section--title">Integrantes do grupo:</div>
      <ul class="foot-section--items">
        <li>Rodrigo Jacob - RA: 1902157</li>
        <li>Victor Augusto - RA: 1900837</li>
        <li>Felipe Marinho - RA: 1901880</li>
        <li>Phelipe Ruiz - RA: 1900682</li>
        <li>João Henrique - RA: 1901994</li>
      </ul>
    </div>
  </div>
</footer>