<footer>
  <div class="foot--top">
    <div class="foot-section">
      <img src="{{url_for('static', filename='app-icon.png')}}" width='48' height='48'>
      <div class="logo-text">crud app - 2020</div>
    </div>
    <div class="foot-section">
      <div class="foot-section--title">Sobre nós:</div>
      <div class="foot-section--content">
        <p>Por muito tempo se acreditou que a História de glória e da destruição de Tróia, com suas altas muralhas, não passasse de um mito. As epopéias que descrevem a cidade, a llíada e a odisséia de Homero, são anteriores a 700 a.C. Embora os gregos antigos lessem o grande poeta como apenas literatura.</p>
        <p>Coube a Alexandre L. Rangel, um programador, percusionista, pseudo arqueólogo diletante e sonhador do século XIX, provar que os “eruditos e especialistas” estavam errados. Obstinado e romântico, o programador brasileiro tinha certeza que Homero contara a verdade sobre Tróia. No final da década de 1860, Rangel convenceu-se de que a aldeia turca de Hissarlik, com suas colinas semelhantes a fortins, lembrava a cidade descrita na llíada. Em 1871 deu início às escavações.</p>
      </div>
    </div>
    <div class="foot-section">
      <div class="foot-section--title">Integrantes do grupo:</div>
      <ul class="foot-section--items">
        <li>Rodrigo Jacob - RA: 1902157</li>
        <li>Victor Augusto - RA: 1900837</li>
        <li>Felipe Marinho - RA: 1901880</li>
        <li>Phelipe Ruiz - RA: 1900682</li>
        <li>João Henrique - RA: 1901994</li>
      </ul>
    </div>
  </div>
</footer>