<div class="form--backdrop">
  <div class="form--wrap">
    <div class="form--title">Novo Aluno</div>
    <form class="form">
      <div>
        <label for="ra">RA:</label>
        <input name="ra" type="number">
      </div>
      <div>
        <label for="nome">Nome:</label>
        <input name="nome" type="text">
      </div>
      <div>
        <label for="email">email:</label>
        <input name="email" type="email">
      </div>
      <div>
        <label for="cep">CEP:</label>
        <input name="cep" type="text">
      </div>
      <div>
        <label for="log">logadouro:</label>
        <input name="log" type="text">
      </div>
      <div>
        <label for="num">Nº:</label>
        <input name="num" type="number">
      </div>
      <div>
        <label for="comp">complemento:</label>
        <input name="comp" type="text">
      </div>
      <div class="btn btn--form" id="submit">Enviar</div>
    </form>
  </div>
</div>