<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% block style %}{% endblock %}
  {% block script %}{% endblock %}
  <title>CRUD</title>
</head>
<body>
  <div class="top-bar">
    <div class="top-bar--left">
      <a href="{{url_for('home.index')}}">
        <img src="{{url_for('static', filename='app-icon.png')}}" width='22' height='22'>
        <span>CRUD APP</span>
      </a>
    </div>
    <div class="top-bar--right">
      <a href="{{url_for('alunos.ver_alunos')}}"><div class="btn btn--top">Editar Tabela</div></a>
    </div>
  </div>
  <main>{% block content %}{% endblock %}</main>
  {% include '_footer.html' %}
</body>
</html>