{% extends 'base.html' %}
{% block script %}
<script src="{{url_for('static', filename='view_aluno.js')}}" defer></script>
{% endblock %}
{% block content %}
<div class="title">Ver Aluno</div>
<div class="card" style="margin: auto;">
  <div class="card--title">{{aluno['nome_aluno']}}</div>
  <div>
    <span class="card--key">RA: </span><span class="card--value">{{aluno['ra']}}</span>
  </div>
  <div>
    <span class="card--key">e-mail: </span><span class="card--value">{{aluno['email']}}</span>
  </div>
  <div>
    <span class="card--key">cep: </span><span class="card--value">{{aluno['cep']}}</span>
  </div>
  <div>
    <span class="card--key">logadouro: </span><span class="card--value">{{aluno['logadouro']}}</span>
  </div>
  <div>
    <span class="card--key">complemento: </span><span class="card--value">{{aluno['complemento']}}</span>
  </div>
  <div class="card--actions">
    <div class="btn btn--edit">Editar</div>
    <div class="btn btn--delete" data-href="{{url_for('alunos.remove_aluno', ra=aluno['ra'])}}">Apagar</div>
  </div>
</div>
{% endblock %}